/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
         .b_content h1 {
        margin-top: 25px;
        margin-bottom: 20px;
          }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
      .b_content h1 {
        margin-top: 30px;
        margin-bottom: 20px;
          }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
     .b_content h1 {
        margin-top: 35px;
        margin-bottom: 20px;
          }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
        .b_content h1 {
        margin-top: 70px;
        margin-bottom: 20px;
          }
    .b_content h2 {
        margin-bottom: 20px;
          }
    .b_content p {
        margin-bottom: 30px;
          }
    .img-fluid{
        
        margin-bottom: 45px;
          }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    

    .b_content h1 {
        margin-top: 95px;
        margin-bottom: 20px;
          }
    .b_content h2 {
        margin-bottom: 20px;
          }
    .b_content p {
        margin-bottom: 30px;
          }
    .img-fluid{
        
        margin-bottom: 45px;
          }
 }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
       .b_content h1 {
        margin-top: 95px;
        margin-bottom: 20px;
          }
    .b_content h2 {
        margin-bottom: 20px;
          }
    .b_content p {
        margin-bottom: 30px;
          }
    .img-fluid{
        
        margin-bottom: 45px;
          }
 }